export TF_STATE_BUCKET=your-terraform-state-bucket
export TF_PROJECT_NAME=project-name
export TF_STATE_REGION=your-aws-region
export TF_STATE_KMS=your-kms-key-arn
export AWS_PROFILE=your-aws-profile
export GITHUB_TOKEN=your-github-token
