# environments/prod.tfvars.example
# Copy to prod.tfvars and fill in your values

# github data
github_owner    = "github-user-name"
repository_name = "your-project-name"

# Rulesets
rulesets = {
    main = {
        target_branch = "branch-name"
        required_checks = ["checks-name-1", "checks-name-2"]
    }

    dev = {
        target_branch = "branch-name"
        required_checks = ["checks-name-1", "checks-name-2"]
    }
}
