# environments/prod.tfvars.example
# Copy to prod.tfvars and fill in your values

# github data
github_owner    = "github-user-name"
repository_name = "your-project-name"

# Rulesets
rulesets = {
  main = {
    target_branches     = ["branch-name"]
    enforcement         = "active"
    required_signatures = true
    require_pull_request = {
      dismiss_stale_reviews_on_push = false
      require_last_push_approval    = false
      required_approvals            = 1
    }
    deployment_environments = ["environment-name"]
    required_checks         = ["checks-name-1", "checks-name-2"]
  }

  dev = {
    target_branches     = ["branch-name"]
    enforcement         = "active"
    required_signatures = true
    require_pull_request = {
      dismiss_stale_reviews_on_push = false
      require_last_push_approval    = false
      required_approvals            = 1
    }
    deployment_environments = ["environment-name"]
    required_checks         = ["checks-name-1", "checks-name-2"]
  }
}
